@charset "UTF-8";

.soft-nav {
	/* width: 100%; */
	/* box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.15); */
	width: 100%;
	border-bottom: 1px solid #EEEEEE;
	background-color: #fff;
	padding-top: 15px;
	padding-bottom: 10px;
}
.fixNav{
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	z-index: 1000;
 	border:none;
	padding-bottom: 10px;
	box-shadow:0px 2px 8px 0px rgba(222,222,222,1);
}

.soft-nav .container {
	position: relative;
}
.content{
	background-color: #fff;
	margin-top: 50px;
}
.container {
	position: relative;
	width: 1300px;
	margin: 0 auto;
	margin: 0px auto;
}

.logo {
	float: left;
	padding-bottom: 10px;
	/* padding-top: 17px; */
}

img {
	border: 0;
	display: block;
}

.logo img {
	width: 142px;
	height: 46px;
}

.logo a {
	float: left;
	font-size: 20px;
	color: #333;
	line-height: 46px;
}


.nav {
	float: left;
	margin-left: 70px;
}

.nav li {
	float: left;
	/* height: 56px; */
	height: 45px;
	padding: 0 6px;
	line-height: 56px;
	margin: 0 15px;
	color: #333;
}

.nav li:hover {
	color: #1ABC9C;
	border-bottom: 2px solid #1ABC9C;
}

.nav .active {
	border-bottom: 2px solid #1ABC9C;
}

.nav li a {
	color: inherit;
	height: 56px;
	font-size: 16px;
}

.nav .tips:after {
	content: "";
	display: inline-block;
	width: 28px;
	height: 14px;
	margin-top: -8px;
	vertical-align: text-top;
	background: url(../images/u26.png) no-repeat left top;
}

.soft-nav .ask {
	float: right;
	height: 56px;
	font-size: 16px;
	line-height: 56px;
	color: #1ABC9C;
}
.nav-inputbox{
	display: block;
	position: relative;
	width: 300px;
	height: 56px;
	line-height: 56px;
	margin-right: 20px;
}


.nav-inputbox input{
	padding-left: 10px;
	padding-right: 55px;
	box-sizing: border-box;
	width: 100%;
	border-radius: 19px;
	height: 38px;
	outline: none;
	border: 1px solid #1ABC9C;
}
.nav-inputbox .iconfont{
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 18px;
	cursor: pointer;
}
.nav-inputbox .close{
	font-size: 14px;
	margin-right: 25px;
}

/* .nav-inputbox:after{
	content: "";
	display: inline-block;
	width: 28px;
	height: 14px;
	vertical-align: text-top;
	background: url(../images/u2278.png) no-repeat left top;
} */

/* search */
.search-header {
	position: relative;
	padding-top: 40px;
	background: #fff;
	height: 88px;
	opacity: 1;
	transition: all 0.3s;
}


.search-panel {
	/*  margin-left: -208px; */
}

.search-panel {
	position: absolute;
	top: 0;
	left: 50%;
	/* margin-left: -276px; */
	/* min-width: 480px; */
	margin-left: -334px;
	min-width: 668px;
}

.searchbox {
	background-color: #fff;
	height: 38px;
	line-height: 38px;
	border: solid 1px #1ABC9C;
	color: #666;
}

.searchbox .inputbox {
	position: relative;
	float: left;
	width: 545px;
}
.searchbox .iconfont{
	cursor: pointer;
}
.searchbox .iconfont:hover{
	color: #999;
}
.searchbox .inputbox input {
	width: 545px;
	padding-left: 10px;
	padding-right: 5px;
	box-sizing: border-box;
	color: #666;
	font-size: 14px;
	height: 38px;
	border: none;
	border-left: solid 1px #ddd;
	vertical-align: top;
	line-height: 38px\9;
}

.searchbtn {
	float: right;
	width: 100px;
	background: #1ABC9C;
	font-size: 16px;
	color: #fff;
	text-align: center;
	cursor: pointer;
}

.search-hot {
	position: relative;
	font-size: 12px;
	color: #999;
	line-height: 30px;
	text-align: left;
	max-width: 552px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.search-hot span {
	margin-left: 8px;
}

.search-hot a {
	margin-left: 10px;
	color: #999;
}

.search-hot a:first-child {
	color: #1ABC9C;
}

/* 幻灯片 */
.inner-banner {
	min-width: 1360px;
	height: 400px;
	overflow: hidden;
}

.inner-banner .container {}

.inner-banner img {
	max-width: 100%;
	width: 100%;
}

.flex-control-paging li a {
	border: solid 1px #fff;
}

.flex-control-paging li a:hover {
	background: #1ABC9C;
	border: 1px solid #1ABC9C;
}

.flex-control-paging li a.flex-active {
	background: #1ABC9C;
	cursor: default;
	width: 34px;
	height: 10px; 
	border-radius: 5px;
	border: none;
}

.vip-tips {
	position: absolute;
	float: right;
	right: 16%;
	top: 15px;
	width: 290px;
	height: 370px;
	/* padding: 0 40px; */
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 99;
}

.vip-tips .header {
	padding-top: 25px;

}

.column-title {
	text-align: center;
	color: #FFFFFF;
	font-size: 16px;
}

.column-title:after,
.column-title:before {
	content: "";
	/* border-top: 2px solid #E8E8E8; */
	display: block;
	position: absolute;
	width: 54px;
	height: 2px;
	top: 40px;
	/* 这里的top值= 标题的margin + 字体大小/2 ，*/
}

.column-title:before {
	/* 左偏离 */
	left: 12px;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 25%, white 100%);
	background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 25%, white 100%);
	/* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(right, rgba(0, 0, 0, 0.5) 25%, white 100%);
	/* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(right, rgba(0, 0, 0, 0.5) 25%, white 100%);

}

.column-title:after {
	right: 12px;
	background: linear-gradient(to left, rgba(0, 0, 0, 0.5) 25%, white 100%);
	background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5) 25%, white 100%);
	/* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(left, rgba(0, 0, 0, 0.5) 25%, white 100%);
	/* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5) 25%, white 100%);
	/* Firefox 3.6 - 15 */
}

.privilege {
	color: rgba(255, 255, 255, 0.6);
}

.privilege li {
	float: left;
	margin-left: 36px;
	margin-right: 20px;
	margin-top: 15px;
}

.privilege li i {
	color: #1ABC9C;
	vertical-align: middle;
	margin-right: 1px;
}

.privilege li a {
	color: inherit;
	font-size: 14px;
}

.vip-tips .center {
	padding-top: 25px;
	text-align: center;
}

.vip-tips .center h2 {
	color: #1ABC9C;
	margin-bottom: 7px;
	font-size: 24px;
}

.vip-tips .center .openbtn {
	width: 209px;
	height: 36px;
	color: #FFFFFF;
	background-color: #1ABC9C;
	border-radius: 6px;
	text-align: center;
	margin: 0 auto;
	line-height: 36px;
	font-size: 16px;
	cursor: pointer;
}

.vip-tips .center .openbtn i {
	margin-right: 3px;
}

.vip-tips .bottom-notlogin {
	text-align: center;
}

.vip-tips .bottom-notlogin p {
	color: #FFFFFF;
	margin-top: 30px;
	font-size: 14px;
}

.bottom-notlogin .btnbox {
	text-align: center;
	margin-top: 20px;
}

.btnbox .btn {
	display: inline-block;
	width: 90px;
	height: 34px;
	line-height: 34px;
	margin: 15px;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 14px;
	border-radius: 17px;
}

.btnbox .btn-register {
	background-color: transparent;
	border: 1px solid #FFFFFF;
}

.btnbox .btn-login {
	background-color: #1ABC9C;
}

.vip-tips .bottom-login {
	color: #FFFFFF;
	text-align: center;
}

.bottom-login .user-info {
	padding-left: 40px;
	margin-top: 30px;
	padding-right: 45px;
	/* display: inline-flex;
	flex-wrap: nowrap;
	align-items: center; */
}

.user-info h2 {
	margin-right: 6px;
	margin-left: 2px;
	font-size: 14px;
	color: #FFFFFF;
	max-width: 72px;
	display: inline-block;
	vertical-align: middle;
}

.user-info .round-avater {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.user-info img {
	/* margin-right: 5px; */
	display: inline-block;
}

.bottom-login .tips-unstudy {
	font-size: 14px;
}

.bottom-login .tips-studied {
	font-size: 14px;
}

.tips-studied p span {
	color: #1ABC9C;
}

.study-info {
	margin-top: 5px;
	padding-left: 40px;
}

.study-info a {
	position: relative;
	top: 3px;
	vertical-align: middle;
	float: left;
}

.study-info .info {
	float: left;
	margin-left: 5px;
	width: 173px;
}

.study-info .info p {
	margin-bottom: 5px;
}

.study-info .myprogress {
	height: 4px;
}

.study-info img {
	width: 25px;
	height: 25px;
	border-radius: 50%;
}



/* 底部友情链接和广告 */
.ad-content {
	margin-top: 50px;
	margin-bottom: 50px;
}
.ad-content a{
	display: inline-block;
}
.ad-content .ad-item {
	position: relative;
	width: 310px;
	height: 120px;
	border-radius: 4px;
	margin-left: 20px;
	overflow: hidden;
}
.ad-content .ad-item:first-child{
	margin-left: 0;
}


.ad-item img {
	width: 100%;
	height: 100%;
	position: relative;
	max-width: 102%;
	cursor: pointer;
	transition: all 0.4s;
	-moz-transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	/* transition: 0.5s cubic-bezier(0.19, 1, 0.22, 1); */
}


.ad-item img:hover {
	transform: scale(1.3);
	-moz-transform: scale(1.3);
	-webkit-transform: scale(1.3);
	-o-transform: scale(1.3);
}
.bottom-link{
	position: relative;
	margin-top: 30px;
	box-sizing: border-box;
	border: 1px solid #EEEEEE;
	border-radius: 4px;
	padding: 30px 60px 24px 28px;
}
.bottom-link h3{
	position: absolute;
	z-index: 2;
	top: -12px;
	background-color: #fff;
	padding-left: 8px;
	padding-right: 12px;
}
.bottom-link-box{
	margin: 8px -8px 0 -8px;
}
.bottom-link-box a{
	display: inline-block;
    color: #999;
    line-height: 26px;
    margin: 0 8px;
}
.sort-header {
    background-color: #FCFCFC;
	padding-top: 15px;
}

.sort-header .sort-item{
	font-size: 14px;
	padding: 15px 0;
	border-bottom: 1px dashed #EEEEEE;
}
.sort-header .sort-item:last-child{
	border-bottom: none;
}

.sort-item label{
	color: #999;
	margin-right: 20px;
}

.sort-item .sort-label{
	cursor: pointer;
	display: inline-block;
	color: #333;
	padding: 11px 17px 11px 19px;
	border-radius: 4px;
	margin-right: 15px;
	
}
 .sub-lists{
	position: relative;
	max-height: 42px; 
	min-height: 42px;
    max-width: 1000px;
    overflow: hidden;
	transition: max-height 0.5s;
	-moz-transition: max-height 0.5s;
	-webkit-transition: max-height 0.5s;
	-o-transition: max-height 0.5s;
}
.sub-lists:hover ,.sub-lists.expand{
	max-height: 500px; 
}
.sub .sort-margin{
	margin-bottom: 10px;
}
.sub .sort-more{
	cursor: pointer;
	float: right;
	margin-top: 11px;
}

.sort-item .sort-label.active,.sort-item .sort-label:hover{
	background-color: #1ABC9C;
	color: #fff;
}

.layui-laypage a, .layui-laypage button, .layui-laypage input, .layui-laypage select, .layui-laypage span {
    border: none;
}
.layui-laypage a, .layui-laypage span {
    color: #666;
	padding: 0 20px;
    font-size: 14px;
}
.layui-laypage .layui-laypage-spr{
	padding: 0;
}
.layui-laypage .layui-laypage-curr .layui-laypage-em {
    background-color: #1ABC9C;
}
.layui-laypage a:hover {
    color: #1ABC9C;
}
.soft-page{
	margin: 30px auto auto;
	max-width: 600px;
}


.soft-download-lists {}

.soft-download-lists .item-list {
	position: relative;
	padding: 30px 0;
	border-bottom: 1px dashed #EEEEEE;
}
.soft-download-lists .item-list .item-link{
	position: absolute;
    width: 100%;
    height: calc(100% - 60px);
}

.soft-download-lists .item-list .soft-icon {
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 4px;
	border: 1px solid #53CCB4;
	text-align: center;
}

.soft-icon img {
	margin-top: 13px;
	margin-bottom: 10px;
	display: inline-block;
	width: 100px;
	height: 100px;
	border-radius: 10px;

}

.soft-icon span.soft-name {
	display: inline-block;
	color: #333;
	font-weight: 400;
	font-size: 14px;
}

.soft-icon i.new-icon {
	width: 86px;
	height: 59px;
	position: absolute;
	top: 0;
	left: 0;
	background: url(../images/u464.png) no-repeat left top;
	z-index: 1000;
}

.soft-download-lists .item-list .soft-desc {
	width: 540px;
	margin-left: 20px;
}

.soft-desc p {
	display: inline-block;
}

.soft-desc h2 {
	font-size: 18px;
	color: #333;
	margin-bottom: 15px;
}

.soft-desc h2 span {
	color: #EE564F;
}

.soft-desc .desc-text {
	padding-top: 20px;
	color: #999;
	font-size: 14px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	overflow: hidden;
	line-height: 28px;
	/* text-overflow:ellipsis; */
}

.soft-desc .install-btn {
	position: relative;
	z-index: 2;
	width: 102px;
	height: 34px;
	border: 1px solid rgba(26, 188, 156, 1);
	border-radius: 4px;
	font-size: 14px;
	color: #1ABC9C;
	padding: 3px 5px;
	cursor: pointer;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
}

.soft-desc .install-btn:hover {
	background-color: #1ABC9C;
	color: #fff;
}

.download-btn {
	position: relative;
	text-align: center;
	margin-top: 25px;
	margin-right: 15px;
	width: 100px;
	height: 100px;
	cursor: pointer;
	z-index: 2;
	background: linear-gradient(8deg, rgba(119, 238, 214, 1) 0%, rgba(26, 188, 156, 1) 100%);
	box-shadow: 0px 4px 15px 0px rgba(26, 188, 156, 1);
	border-radius: 50%;
	overflow: hidden;
	-webkit-transition: overflow 1s linear 0.1s;
	-moz-transition: overflow 1s linear 0.1s;
	-o-transition: overflow 1s linear 0.1s;
	transition: overflow 1s linear 0.1s;
}


.download-bg {
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	background: #1ABC9C;
	width: 100px;
	border-radius: 50%;
	height: 0;
	-webkit-transition: height 0.3s linear;
	-moz-transition: height 0.3s linear;
	-o-transition: height 0.3s linear;
	transition: height 0.3s linear;
	z-index: 1;
}

.download-txt {
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.download-btn:hover .download-bg {
	width: 100px;
	height: 100px;
	
}

.download-txt {
	position: absolute;
	left: 0;
	top: 25px;
	color: #FFFFFF;
	width: 100px;
	height: 100px;
	/* line-height: 100px; */
	z-index: 2; 
}
.download-txt .iconfont{
	cursor: pointer;
	display: block;
	font-size: 28px;
	margin-bottom: 5px;
}

.download-btn:hover .download-txt {
	color: #FFFFFF;
}