<!DOCTYPE html>
<head>
	<meta charset="UTF-8">
	<title>3d66软件首页</title>
	<link rel="stylesheet" href="../public/css/flexslider.css">
	<link rel="stylesheet" href="../public/css/reset.css">
	<link rel="stylesheet" href="../public/css/swiper.min.css">
	<link rel="stylesheet" href="../layui/css/layui.css" />
	<!-- <link rel="stylesheet" href="../css/bootstrap.css"> -->
	<link rel="stylesheet" href="../public/css/animate.min.css">
	<link rel="stylesheet" href="../css/index.css">
	<style>
		.isStuck {
			z-index: 9999;
			background: greenyellow;
		}
		
		
		.header-wraper .nav-inputbox {
			display: inline-block;
			-webkit-transition: all 2.4s;
			-moz-transition: all 2.4s;
			-o-transition: all 2.4s;
			transition: all 2.4s;
		}
		
		body.stickUp .header-wraper .nav-inputbox {
			display: none;
			/* display: inline-block; */
			background: #FFF3CD;
		}
		
		.header-wraper .search-header {
			/* position: absolute;
			width: 100%; */
			opacity: 1;
			z-index: 10;
			visibility: visible;
			-webkit-transition: all 1s;
			-moz-transition: all 1s;
			-o-transition: all 1s;
			transition: all 1s;
		}
		
		body.stickUp .header-wraper .search-header {
			/* display: none; */
			/* height: 0; */
			z-index: 0;
			opacity: 0;
			visibility: hidden;
		}
		
	</style>
</head>
<body>
	<div id="app" v-cloak>
		<div class="clearfix"></div>
		<!-- header   -->
		<!-- 导航 -->
		<div class="soft-nav header-wraper clearfix">
			<div class="container clearfix">
				<div class="logo">
					<a href="https://www.3d66.com/">
						<img src="https://static.3d66.com/www/images/common/logo.png" alt="3D溜溜网">
					</a>
				</div>
				<ul class="nav">
					<li class="active"><a href="/">首页</a></li>
					<li v-for="n in 3"><a href="/">导航测试-{{n}}</a></li>
					<li><a href="/" class="tips">&nbsp;带提示</a></li>
					<li><a href="/"><i class="iconfont">&#xe60b;</i>&nbsp;带图标</a></li>
				</ul>
				<a class="ask" href="javascript:;" onclick="jumpOrderList();"><i class="iconfont"></i>&nbsp;提问</a>
				<div class="nav-inputbox fr"> 
					<input type="text" class="js-searchkey" placeholder="请输入关键字" autocomplete="nope">
					<i class="iconfont close">&#xe682;</i>
					<i class="iconfont" >&#xe617;</i>
				</div> 

			</div>
			
			<!-- 搜索 -->
			<div class="search-header" id="searchId">
				<div class="container clearfix">
					<div class="search-panel">
						<div class="searchbox clearfix">
							<div class="inputbox">
								<input type="text" class="js-searchkey" placeholder="请输入关键字" autocomplete="nope">
							</div>
							<i class="iconfont">&#xe682;</i>
							<div class="searchbtn js-search">搜 索</div>
						</div>
						<div class="search-hot clearfix">
							<span>热度:</span>
							<span class="sysFocusWord focus66">
								<a href="/" rel="nofollow" target="_blank">溜云库</a>
								<a href="/" rel="nofollow" target="_blank">3D魔术手</a>
								<a href="/" rel="nofollow" target="_blank">3D魔术手</a>
							</span>
						</div>
					</div>
				</div>
			</div>

		</div>
		
		<!-- 幻灯片部分 -->
		<div class="inner-banner flexslider">
			<ul class="slides">
				<li v-for="n in 5"><img src="https://img.3d66.com/focus/2018/20180408/d216a1db88a83a38768d947822836317.jpg" alt=""
					 draggable="false"></li>
			</ul>
			<div class="vip-tips">
				<div class="header">
					<h2 class="column-title">
						软件库贵族尊享特权
					</h2>
					<ul class="privilege clearfix">
						<li v-for="n in 4"><a href="/"> <i class="iconfont">&#xe60b;</i> 录播课程{{n}}</a> </li>
					</ul>
				</div>

				<div class="center">
					<h2> ¥99/年</h2>
					<div class="openbtn">
						<i class="iconfont">&#xe60b;</i>
						开通软件库贵族
					</div>
				</div>
				<div class="bottom-notlogin" style="display: none;">
					<p>亲，让我来跟进您的学习进度吧！</p>
					<div class="btnbox">
						<span class="btn btn-register">注册</span>
						<span class="btn btn-login">登录</span>
					</div>
				</div>
				<div class="bottom-login">
					<div class="user-info">
						<!-- align="absmiddle" -->
						<img class="round-avater" src="../images/u26.png" />
						<h2 class="text-truncate">插画工作室</h2>
						<img src="../images/u2288.png" class="iconfont" style="width: 38px;height: 13px;"></i>
						<img src="../images/u2288.png" class="iconfont" style="width: 24px;height: 18px;"></i>
					</div>
					<p class="tips-unstudy" style="display: none;">
						亲，快去学习吧！<br />让我来跟进您学习的进度~
					</p>
					<div class="tips-studied">
						<p>
							已学习：<span>27.5h</span>
						</p>
						<div class="study-info clearfix">
							<a href="/"> <img src="../images/u236.png" /> </a>
							<div class="info">
								<p class="text-truncate">3ds Max 2018室内设计入为我链接</p>
								<div class="layui-progress myprogress">
									<div class="layui-progress-bar myprogress" lay-percent="70%"></div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<!-- 中间部分 -->
		<div class="content">
			<div class="container">
				<!-- 软件集 -->
				<div class="soft-lists-header clearfix">
					<h3> <i class="iconfont">&#xe617;</i>&nbsp; 软件集 </h3>
					<span class="fr more"> <a href="/">更多></a> </span>
				</div>
				<div class="soft-lists clearfix">
					<div class="left-lists">
						<a href="/" v-for="n in 3">
							<img src="../images/u236.png" />
							<span>Dreamweaver</span>
						</a>
					</div>
					<div class="right-lists">
						<a href="/" v-for="n in 13">
							<img src="../images/u2290.png" />
							<span>PhotoShop</span>
						</a>
					</div>
				</div>
				<!-- 溜溜推荐 -->
				<div class="soft-lists-header soft-suggest clearfix">
					<h3> <i class="iconfont">&#xe617;</i>&nbsp; 溜溜推荐 </h3>
					<ul class="fr nav-lists">
						<li v-for="n in 6" v-bind:class="{active: (n==test)}" v-on:mouseenter="showSuggest(n)">3DMax</li>
					</ul>
				</div>
				<div class="soft-suggest-lists clearfix">
					<ul>
						<li v-for="n in 11" class="fl item-suggest">
							<a href="/" class="text-truncate" :title="n + '3dmax2019【3dsmax2019破解版】破解中文版'">
								{{n}}--3dmax2019【3dsmax2019破解版】破解中文版
							</a>
						</li>

					</ul>
				</div>
				<!-- 自学课程 -->
				<div class="soft-lists-header soft-course clearfix">
					<h3> <i class="iconfont">&#xe617;</i>&nbsp; 自学课程 </h3>
					<span class="fr more"> <a href="/">更多></a> </span>
				</div>
				<div class="soft-course clearfix">
					<div class="course-box" v-for="n in 9">
						<div class="course-cover">
							<a href="/">
								<img src="../images/u2288.png" />
							</a>
						</div>
						<div class="course-container">
							<div class="course-header clearfix">
								<img class="fl" src="../images/u26.png" />
								<span class="fr">共112节</span>
							</div>
							<div class="course-textarea">
								<div class="textarea-title">
									<a target="_blank" href="/">室内设计师 职业规划内容</a>
								</div>
								<div class="textarea-container">
									<div class="container-desc">讲解如何让绘制工业风起居室：场景建模、灯光参数、材质贴图、后期我是测试尾巴我是测试尾巴</div>
								</div>
								<div class="textarea-author clearfix">
									<img src="../images/u236.png" />
									<span class="author-name">插画工作室</span>
									<span class="fr numbers">{{test}}人在学</span>
								</div>
							</div>
						</div>

					</div>
				</div>
				<!-- 开通vip -->
				<div class="soft-open">
					<a href="/">
						<img src="../images/u2288.png" />
					</a>
				</div>
				<div class="soft-two-col clearfix">
					<!-- 左侧列 -->
					<div class="fl left-col">
						<!-- 溜溜问答 -->
						<div class="soft-lists-header soft-ask clearfix">
							<h3> <i class="iconfont">&#xe617;</i>&nbsp;
								<span :class="{active: !isNewAsk}" @mouseenter="showAsk(false)">溜溜问答</span>
								<span :class="{active: isNewAsk}" @mouseenter="showAsk(true)">最新问题</span> </h3>
							<span class="fr more"> <a href="/">更多></a> </span>
						</div>

						<div class="ask-item clearfix" v-for="item in testAsk" :key="item.id">
							<div class="ask-count ask-adopt">
								<!-- <p>12</p>
								<p>回答</p> -->
								<img src="../images/u236.png" style="width: 22px;height: 28px;" />
							</div>
							<div class="fl ask-content">
								<div class="ask-title">
									<h2 class="text-truncate">AE CS5序列号序列号是什么AE CS5序列号序列CS5序什么什么？</h2>
									<p> <span>悬赏</span> <span class="span-reward span-liubi">19溜币</span> </p>
								</div>
								<div class="ask-bottom clearfix">
									<img src="../images/u236.png" />
									<span class="ask-name fl">插画工作室</span>
									<p class="ask-label fl"><span v-for="n in 3">溜云库{{n}}</span> </p>
									<span class="ask-btn fr">
										<span class="dl-bg"></span>
										<span class="dl-txt">
											我要回答
										</span>
									</span>
									<p class="fr ask-get">回答问题可获<span class="liubi">30赠点</span>！</p>

								</div>

								<!-- 回答内容 -->
								<div class="ask-tip tip-top">
									<h2>木木客服</h2>
									<p>如果只是比例缩小了，那你就检查一下视口比例，然后把比例调整回来就可以了哦！</p>
								</div>

							</div>

						</div>

						<!-- 广告背景 -->
						<div class="ad-bg">
							<a href="/">
								<img src="../images/u2288.png" />
							</a>
						</div>

						<!-- 安装教程 -->
						<div class="soft-lists-header soft-install clearfix">
							<h3> <i class="iconfont">&#xe617;</i>&nbsp; 安装教程 </h3>
							<span class="fr more"> <a href="/">更多></a> </span>
						</div>

						<div class="soft-install-lists clearfix">
							<ul>
								<li v-for="n in 11" class="item-install">
									<img src="../images/u236.png" />
									<a href="/" class="text-truncate" :title="n + '3dmax2019【3dsmax2019破解版】破解中文版'">
										<span class="item-title">【3dsmax2019破解版】</span>3d溜溜云渲染【溜溜云渲染4.1】客户端安装图文教程、破解注册方法{{n}}
									</a>
								</li>

							</ul>
						</div>

					</div>

					<div class="fl right-col">
						<!-- 右侧开通vip -->
						<div class="vip-open-bg">
							<a href="/">
								<img src="../images/u2288.png" />
							</a>
						</div>
						<!-- 圈子 -->
						<div class="soft-lists-header community clearfix">
							<h3> <i class="iconfont">&#xe617;</i>&nbsp; 圈子 </h3>
							<span class="fr more"> <a href="/">更多></a> </span>
						</div>

						<div class="community-c clearfix">
							<p class="q-group fl">
								<a v-for="n in 14" href="/" class="text-truncate" :title="'粉丝qq群'+n">
									<i class="iconfont">&#xe617;</i> 粉丝qq群{{n}}
								</a>
							</p>
							<div class="qr-code fl ">
								<div class="item" v-for="n in 4">
									<img src="../images/u236.png" alt="">
									<p class="text-truncate code-name">3D溜溜软件管家{{n}}</p>
								</div>
							</div>
						</div>
						<!-- 广告轮播 -->
						<div class="flexslider ad-banner">
							<ul class="slides">
								<li v-for="n in 5"><img style="height: 200px;" src="https://img.3d66.com/focus/2018/20180408/d216a1db88a83a38768d947822836317.jpg"
									 alt="" draggable="false">
								</li>
							</ul>
						</div>

					</div>
				</div>
				<!-- 广告位 -->
				<div class="ad-content">
					<a v-for="n in 4" class="ad-item" href="/">
						<img src="../images/u32.png" />
					</a>
				</div>
				<!-- 友情链接 -->
				<div class="bottom-link">
					<h3>友情链接<small>（友链合作请加QQ:277890678）</small></h3>
					<div class="bottom-link-box">
						<a v-for="n in 30" href="/">360手机助手{{n}}</a>
					</div>
				</div>



			</div>
		</div>
		<!-- footer -->
		<div class="footer footer-top" style="height: 50px;background-color: #999;margin-top: 10px;">
			我是页脚
		</div>

	</div>
	<script src="../public/js/global/jquery-1.8.3.min.js"></script>
	<script src="../public/js/global/jquery.flexslider.js"></script>
	<script src="../js/stickTop.js">
	<script src="../public/layer/layer.js"></script>
	<script src="../public/plugin/js/swiper.min.js"></script>
	<script src="../js/vue.min.js"></script>
	<script src="../layui/layui.js"></script>
	<script src="../js/soft-layui.js"> </script>
	<script src="../js/banner.js"> </script>
	
	<script>
		$(function() {
			$(document).ready(function() {
				/* 顶部滚动悬停 */
				$(document).ready(function() {
					$('.header-wraper').stickUp({
						marginTop: 'auto'
					});
				});
			});
		});
	</script>
	
	<!-- <script>
		 $(function(){
		    var banOffTop=$(".search-header").offset().top;//获取到距离顶部的垂直距离
		    var scTop=0;//初始化垂直滚动的距离
		    $(document).scroll(function(){
		        scTop=$(this).scrollTop();//获取到滚动条拉动的距离
		        console.log(scTop);//
				console.log('search',$("#searchId").is(":hidden"));
				
		        if(scTop > 74){
					//核心部分：当滚动条拉动的距离大于等于导航栏距离顶部的距离时，添加指定的样式
					/* $(".search-header").fadeOut(); */
					$(".soft-nav").addClass("fixNav");
					
		        }else{
					
					$(".soft-nav").removeClass("fixNav"); 
					/* $(".search-header").fadeIn(); */
		        }
		
		    })
		})
		
	</script> -->
	
	<script src="../js/index.js"> </script>
	
</body>
</html>
